$basecolor: #4f50e9;
$basedarker: darken($basecolor, 40%);
$baselighter: lighten($basecolor, 5%);
$mainfont: "Poppins", sans-serif;
$yellow: #fab402;
$gray: rgba(223, 223, 223, 1);
$graydark: darken($gray, 15%);
$graylight: #f3f1fc;
$darkbg: #1b1c4a;
